.header-container {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/header_main_img.jpg") center/cover no-repeat;
  overflow: hidden; /* מנע גלילה לכל הכיוונים */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  margin-bottom: 20px; /* מרווח מתחת לנאב בר */
}

.content-container {
  text-align: center;
  margin: auto; /* למרכז את התוכן באופן אוטומטי */
  margin-top: 60px; /* מרווח מעל לתוכן */
  margin-bottom: 60px; /* מרווח מתחת לתוכן */
  max-width: 800px; /* מקסימום רוחב לתוכן */
  padding: 20px; /* ריווחים פנימיים בתוך התוכן */
}

.delete-user-title {
  font-size: 2rem;
  color: #fffdfd;
  margin-bottom: 10px; /* מרווח נוסף מתחת לכותרת */
}

.textbox-container {
  max-width: 500px;
  margin: 150px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל */
}

.textbox {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.clear-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #d32f2f;
}
