/* CSS עבור כרטיס פרופיל */
.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

/* כותרות */
.profile-card .MuiTypography-h5 {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50; /* צבע כהה */
  margin-bottom: 15px;
}

/* טקסטים כלליים */
.profile-card .MuiTypography-body1 {
  font-size: 16px;
  color: #34495e; /* צבע אפור כהה */
  margin-bottom: 10px;
}

/* כפתורים */
.profile-card .btn-blue {
  background-color: #c1b337;
  color: rgb(255, 255, 255);
  border: 2px solid #c1b337;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 0;
  display: block;
  margin: left;
}

.profile-card .btn-blue:hover {
  background-color: #2980b9; /* צבע כחול כהה */
  border: 2px solid #2980b9;
}

/* כפתור מחיקת חשבון */
.profile-card .icon-button {
  color: #e74c3c; /* צבע אדום */
}

/* דיאלוגים */
.MuiDialogTitle-root {
  background-color: #ecf0f1; /* צבע רקע בהיר */
  color: #2c3e50;
  font-size: 20px;
}

.MuiDialogContentText-root {
  color: #34495e;
}

.MuiTextField-root {
  margin-bottom: 15px;
}

.MuiButton-root {
  text-transform: none;
  border-radius: 5px;
}

.MuiDialogActions-root .btn-blue {
  background-color: #000000;
  color: white;
}

.MuiDialogActions-root .btn-blue:hover {
  background-color: #2980b9;
}

.bbtn_upgrade

/* CSS עבור עיצוב קטעי מידע של משתמש */
.user-info {
  text-align: left !important;
  margin-bottom: 20px !important;
  background-color: #f5f5f5 !important;
  padding: 15px !important;
  border-radius: 8px !important;
}

.user-info h4 {
  margin: 0 !important;
  font-size: 18px !important;
  color: #333 !important;
}

.user-info p {
  margin: 5px 0 !important;
  font-size: 16px !important;
  color: #666 !important;
}
/* CSS עבור כפתור עריכה */
.icon-button-edit {
  color: #3498db; /* צבע כחול */
  margin-left: 10px;
}

.icon-button-edit:hover {
  color: #2980b9; /* צבע כחול כהה */
}

/* CSS עבור תפריט הדרופ דאון */
.MuiMenu-paper {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MuiMenuItem-root {
  font-size: 16px;
  color: #34495e;
}

.MuiMenuItem-root:hover {
  background-color: #f0f0f0;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-info {
  flex: 1;
}

.profile-image {
  width: 100px; /* גודל התמונה */
  height: 100px;
  border-radius: 50%; /* עיגול התמונה */
  object-fit: cover;
  margin-left: 20px; /* רווח בין התמונה למידע */
}
