.swal2-confirm-custom {
  font-size: 15px !important; /* Adjust the font size */
  padding: 0.5rem 1rem !important; /* Adjust padding if needed */
  background-color: #3085d6 !important; /* Adjust background color if needed */
  color: #fff !important; /* Adjust text color if needed */
  border-radius: 4px !important; /* Adjust border radius if needed */
  border: none !important; /* Remove border if needed */
}

.swal2-confirm-custom:hover {
  background-color: #2a6eb3 !important; /* Adjust hover background color if needed */
}

.MuiButton-outlined {
  background-color: #fff; /* Ensure default background color */
}

.MuiButton-contained {
  background-color: #007bff; /* Default color for selected option */
  color: #fff; /* Text color for selected option */
}

.MuiButton-outlined:hover {
  background-color: rgba(0, 0, 0, 0.08); /* Light hover effect */
}

.MuiButton-contained:hover {
  background-color: #0056b3; /* Darker color on hover for selected option */
}
