:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-robin-blue: #00aaff;
  --clr-dark: #333;
  --clr-crazy-blue: #0055ff;
  --transition: all 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 78px;
  background-color: var(--clr-black);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.navbar-brand {
  color: var(--clr-white);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 34px;
  cursor: pointer;
  z-index: 10;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background-color: var(--clr-white);
  transform-origin: left;
  transition: var(--transition);
}

.hamburger-menu-change .bar-top {
  transform: rotate(42deg);
}

.hamburger-menu-change .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}

.hamburger-menu-change .bar-bottom {
  transform: rotate(-42deg);
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 78px;
  background-color: var(--clr-dark);
  height: calc(100% - 78px);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateX(100%);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-navbar-collapse {
  transform: translateX(0);
}

.navbar-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.navbar-btns button {
  border: 2px solid var(--clr-robin-blue);
  transition: var(--transition);
  color: var(--clr-white);
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2rem;
  width: 150px;
}

.navbar-btns button span {
  margin-left: 8px;
}

.navbar-btns button:hover {
  background-color: var(--clr-robin-blue);
}

@media screen and (min-width: 578px) {
  .navbar-collapse {
    width: 320px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    justify-content: space-between;
    padding: 0 40px;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar-collapse {
    transform: translateX(0);
    position: relative;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    height: auto;
    width: auto;
    flex-direction: row;
  }

  .navbar-btns {
    flex-direction: row;
    gap: 20px;
  }

  .navbar-btns button {
    width: auto;
  }
}
