.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 78px;
  background-color: var(--clr-black);
  z-index: 999;
  display: flex;
  justify-content: space-between; /* Align brand and buttons */
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Add horizontal padding */
  width: 100%; /* Ensure full width */
}

.navbar-brand {
  color: var(--clr-white);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 34px;
  cursor: pointer;
  z-index: 10;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background-color: var(--clr-white);
  transform-origin: left;
  transition: var(--transition);
}

.hamburger-menu-change .bar-top {
  transform: rotate(42deg);
}

.hamburger-menu-change .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}

.hamburger-menu-change .bar-bottom {
  transform: rotate(-42deg);
}

.navbar-btns {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.navbar-btns button {
  border: 2px solid var(--clr-robin-blue);
  transition: var(--transition);
}

.navbar-btns button span {
  margin-left: 8px;
}

.navbar-btns button:hover {
  background-color: var(--clr-robin-blue);
}

@media screen and (min-width: 578px) {
  .navbar-collapse {
    width: 320px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    transform: translateX(0);
    position: relative;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    height: auto;
    width: 100%;
  }
  .navbar-collapse-content {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .hamburger-menu {
    display: none; /* Hide hamburger on larger screens */
  }
}
