.premium-page {
    display: flex;
    height: 100vh;
  }
  
  .news-feed-container {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;
  }
  
  .main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .youtube-links-container {
    flex: 2;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
  }
  
  .stock-indicators-container {
    flex: 1;
    overflow-y: auto;
  }